* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  margin: 0px;
}
.banner {
  background-image: url(../logo/logo.gif);
  height: 20vw;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50%;
}
header {
  background-color: black;
}

nav a,
footer a {
  padding: 14px 20px;
  color: white;
  display: block;
  float: left;
  text-decoration: none;
}
nav,
footer {
  background-color: #333;
  overflow: hidden;
}
nav a:hover {
  background-color: wheat;
  color: black;
}
.login,
.copyright {
  float: right;
}
section {
  text-align: center;
  padding-top: 40px;
  height: 100vh;
}
section h5 {
  margin: 0px 130px;
}
