* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  margin: 0px;
}
.banner {
  background-image: url(../logo/logo.gif);
  height: 20vw;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50%;
  background-attachment: fixed;
}
header {
  background-color: black;
}

nav a,
footer a {
  padding: 14px 20px;
  color: white;
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
}
nav,
footer {
  background-color: #333;
  display: flex;
}
nav a:hover {
  background-color: wheat;
  color: black;
}
.login,
.copyright {
  margin-left: auto;
}
section {
  text-align: center;
  padding: 75px 0px;
  min-height: 40vh;
  height: 100%;
}
section h5 {
  margin: 0px 130px;
}
section h2 span {
  background: linear-gradient(to right, #f5d837, #bbb812);
  padding: 10px 55px;
  color: darkblue;

  border-radius: 10px;
}
h2 {
  padding-bottom: 40px;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
}
.carousel-cell video {
  max-width: 100%;
  border-radius: 5px;
}
.iframe-container {
  overflow: hidden;
  padding-top: 37.25%;
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.profile_img {
  border-radius: 50%;
}
.profile_name {
  font-size: 2em;
  font-weight: 900;
  margin: 10px;
  text-transform: uppercase;
  word-spacing: 8px;
}
.img-responsive {
  max-width: 100vh;
  height: 80vh;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  .copyright,
  .login {
    margin-left: 0;
  }
}
